:root {
  --root-font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: var(--root-font-size, 16px);
}

body {
  font-size: var(--root-font-size, 16px);

}